<log4net>
  <!-- @RollingFileAppender -->
  <appender name="MongoAppender" type="MongoAppender.MongoDbAppender, Log4Net-MongoAppender">
    <connectionStringName value="mongodb://localhost"/>
    <collectionName value="logs"/>
    <field>
      <name value="timestamp"/>
      <layout type="log4net.Layout.RawTimeStampLayout"/>
    </field>
    <field>
      <name value="level"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%p"/>
      </layout>
    </field>
    <field>
      <name value="thread"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%t"/>
      </layout>
    </field>
    <field>
      <name value="logger"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%c"/>
      </layout>
    </field>
    <field>
      <name value="message"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%m"/>
      </layout>
    </field>
    <field>
      <name value="exception"/>
      <layout type="log4net.Layout.ExceptionLayout">
        <conversionPattern value="%ex{full}"/>
      </layout>
    </field>
  </appender>
  <root>
    <level value="ALL" />
    <appender-ref ref="MongoAppender" />
  </root>
</log4net>